
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 52px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
/******************* Accordion Frontend Shop Page *****************/
#maincategory_accordin{
    padding-left:50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#maincategory_accordin:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #004e89;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: -1;;
}
#maincategory_accordin .panel-title a{
    display: block;
    /*padding: 10px 30px 15px 0;*/
    background: #fff;
    font-size:12px;
    font-weight: 700;
    color: #004e89;
    position: relative;
    transition: all 0.5s ease 0s;
    /*box-shadow: 0 1px 2px rgba(43,59,93,0.30);*/
}
#maincategory_accordin .panel-title a:before{
 content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 20px;
    height: 20px;
    line-height: 15px;
    border-radius: 50%;
    background: #cad5c2;
    text-align: center;
    font-size: 12px;
    color: #004e89;
    border: 3px solid #004e89;
    position: absolute;
    top: 0;
    left: -49px;
}
#maincategory_accordin .panel-title a.collapsed:before{
    content: "\f067";
    background: #fff;
}
#maincategory_accordin .panel-body{
    padding: 0px 15px;
    background: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
    font-size: 14px;
    color: #487677;
    line-height: 25px;
}

/* Second Category*/
#secondcategory_accordin{
    padding-left:50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#secondcategory_accordin:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #004e89;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: -1;;
}
#secondcategory_accordin .panel-title a{
    display: block;
   /* padding: 10px 30px 15px 0;*/
    background: #fff;
    font-size:12px;
    font-weight: 700;
    color: #004e89;
    position: relative;
    transition: all 0.5s ease 0s;
    /*box-shadow: 0 1px 2px rgba(43,59,93,0.30);*/
}
#secondcategory_accordin .panel-title a:before{
 content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 20px;
    height: 20px;
    line-height: 15px;
    border-radius: 50%;
    background: #cad5c2;
    text-align: center;
    font-size: 12px;
    color: #004e89;
    border: 3px solid #004e89;
    position: absolute;
    top: 0;
    left: -49px;
}
#secondcategory_accordin .panel-title a.collapsed:before{
    content: "\f067";
    background: #fff;
}
#secondcategory_accordin .panel-body{
    padding: 0px 15px;
    background: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
    font-size: 14px;
    color: #487677;
    line-height: 25px;
}
/* third Category*/
#thirdcategory_accordin{
    padding-left:50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#thirdcategory_accordin .panel-title a{
    display: block;
   /* padding: 10px 30px 15px 0;*/
    background: #fff;
    font-size:12px;
    font-weight: 700;
    color: #004e89;
    position: relative;
    transition: all 0.5s ease 0s;
    /*box-shadow: 0 1px 2px rgba(43,59,93,0.30);*/
}
#thirdcategory_accordin .panel-title a:before{
 content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background: #cad5c2;
    text-align: center;
    font-size: 0px;
    color: #004e89;
    border: 3px solid #004e89;
    position: absolute;
    top: 5px;
    left: -49px;
}
#thirdcategory_accordin .panel-title a.collapsed:before{
    content: "\f067";
    background: #fff;
}
#thirdcategory_accordin .panel-body{
    padding: 0px 15px;
    background: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
    font-size: 14px;
    color: #487677;
    line-height: 25px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Checkout date & time Tab*/


nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link
{
  border: none;
    padding: 18px 10px;
    color:#fff;
    background:#17a2b8;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 10px;
    color:#fff;
    background:#095c91;
    border-radius:0;
}
nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #095c91 ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #095c91;
    border-bottom:5px solid #095c91;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #095c91;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.tab-content .tab-pane ul{
    list-style: none;
}
.tab-content .tab-pane ul li{
    padding: 15px;
    border-bottom: 2px solid #ddd;
}

/*Razorpay Button*/
  input.razorpay-payment-button {
    color: #fff;
    background-color: #17a2b8;
    border: medium none;
    border-radius: 2px !important;
    font-size: 13px;
    padding: 0.5rem 1rem;
    line-height: 1.5;
}